<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Face Detection</title>
  </head>
  <body>
    <h1>Face Detection Through OpenCV Using FastAPI</h1>
    <h3>Click the button to start detecting faces through your webcam:</h3>
    <img src="/video_feed" width="640" height="480" />

    <form action="/detect" enctype="multipart/form-data" method="post">
      <label for="file">Choose an image (JPEG or PNG):</label><br />
      <input
        type="file"
        id="file"
        name="file"
        accept=".jpg, .jpeg, .png"
        required
      /><br /><br />
      <input type="submit" value="Predict" />
    </form>
  </body>
</html>
